<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Admin Page</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="Twice Logo"/></a>
    <div class="link"><a id="logoutButton" href="/logoutAdmin">Log Out</a></div>
  </nav>

  <div class="center">
    <h1>WELCOME ADMIN!</h1>
    <h2>This is a list of all usernames that have logged into this system.</h2>
    <section id="list">

    </section>
  </div>

  <div class="help">
    <h2>Admin Username:</h2>
    <h3>ADMIN</h3>
    <h2>Admin Password:</h2>
    <h3>PASSWORD</h3>
  </div>
  <script src="/assets/adminBundle.js"></script>
</body>
</html>
