<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TWICE Bias Quiz</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="Twice Logo"/></a>
    <div class="navlink"><a id="loginButton" href="/login">Login</a></div>
    <div class="navlink"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="navlink"><a id="changeButton" href="/changepass">Change Password</a></div>
    <div class="navlink"><a id="globalButton" href="/totalresults">Global Results</a></div>
    <div class="navlink"><a id="adminButton" href="/admin">Admin</a></div>
  </nav>
  <h1>WELCOME!</h1>
  <h2>Please Login or Signup to take the quiz!</h2>
  <section id="content">

  </section>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
