<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TWICE Bias Quiz</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav>
    <a href="/login"><img id="logo" src="/assets/img/favicon.png" alt="Twice Logo"/></a>
    <div class="link"><a id="loginButton" href="/login">Login</a></div>
    <div class="link"><a id="signupButton" href="/signup">Sign up</a></div>
    <div class="link"><a id="changeButton" href="/change">Change Password</a></div>
    <div class="link"><a id="globalButton" href="/totalresults">Global Results</a></div>
    <div class="link"><a id="adminButton" href="/admin">Admin</a></div>
  </nav>

  <div class="center">
    <h1>WELCOME!</h1>
    <h2>Please Login or Signup to take the quiz!</h2>
    <section id="content">

    </section>
  </div>

  <div class="help">
    <h3>Advertisement</h3>
    <section id="ad">
      
    </section>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/loginBundle.js"></script>
</body>
</html>
