<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>TWICE Bias Quiz</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/quiz.css"/>
</head>
<body> 
  <nav>
    <a href="/quiz"><img id="logo" src="/assets/img/favicon.png" alt="Twice Logo"/></a>
    <div class="link"><a id="homeButton" href="/quiz">Home</a></div>
    <div class="link"><a id="questionI" href="/q1">Question 1</a></div>
    <div class="link"><a id="questionII" href="/q2">Question 2</a></div>
    <div class="link"><a id="questionIII" href="/q3">Question 3</a></div>
    <div class="link"><a id="questionIV" href="/q4">Question 4</a></div>
    <div class="link"><a id="questionV" href="/q5">Question 5</a></div>
    <div class="link"><a id="results" href="/results">Results</a></div>
    <div class="link"><a id="logoutButton" href="/logout">Log Out</a></div>
  </nav>

  <div class="center">
    <h1>WELCOME TO THE TWICE BIAS QUIZ!</h1>
    <h2>PLEASE ANSWER ALL QUESTIONS TO THE BEST OF YOUR ABILITY!</h2>
    <section id="app">

    </section>
  </div>

  <div class="help">
    <h3>Advertisement</h3>
    <section id="ad">
      
    </section>
    <h3>Your recorded answers: </h3>
    <section id="check">

    </section>
    <h3><span id="errorMessage"></span></h3>
  </div>
  <script src="/assets/quizBundle.js"></script>
</body>
</html>