<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Quiz Results</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/result.css"/>
</head>
<body>
  <nav><a href="/results"><img id="logo" src="/assets/img/favicon.png" alt="Twice Logo"/></a>
    <div class="link"><a id="" href="/quiz">Retake Quiz</a></div>
    <div class="link"><a id="logoutButton" href="/logout">Log Out</a></div>
  </nav>

  <div class="center">
    <h1>Congratulations!</h1>
    <h2>This is the TWICE member that you have most in common with:</h2>
    <section id="result">

    </section>
  </div>

  <div class="help">
    <h3>Advertisement</h3>
    <section id="ad">
      
    </section>
  </div>
  <script src="/assets/resultBundle.js"></script>
</body>
</html>
